body
{
	background-color: #0099cc;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

header
{

	margin-bottom: 40px;
}

.jumpers
{
	
	text-align: center;
	
}

.jumpers img
{
	width: 100%;
	height: auto;
}
.jumpers p
{
	margin-bottom: 30px;
}
.jumpers figcaption
{
	margin-top: 8px;
}
.navbar
{

}